*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#header{
    /*
    background-image: linear-gradient(to right, white, #ddddf3,#d1d2f5 , #b7b8e7, #a6a7e4, #9fa0e2, #7778B0, #6b6cb8, #585ab4);
    */

    background-color: #7072cf;
    width: 100%;
    min-height: 500px;
}

#barra{
    background-color: white;
    height: 100px;
}

#barra > img{
    height: 80px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 10px;
    left: 12px;
}

nav{
    text-align: right;
    padding: 10px;
    margin-right: 20px;
}

nav > a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
    position: relative;
    bottom: 70px;
    right: 20px;
}

header > h1{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

header > p{
    text-align: center;
    margin: 20px;
    font-size: 25px;
}

#logo {
    width: 250px;
    height: 250px;
}

#mapa{
    height: 400px;
    width: 100%;
}

